 RewriteEngine on  
 RewriteBase /cityphonev1.0/API/  
 RewriteCond %{REQUEST_FILENAME} !-d  
 RewriteCond %{REQUEST_FILENAME} !-f  
 RewriteCond %{REQUEST_FILENAME} !-l  
 RewriteRule ^(.+)$ apiconsulta.php?url=$1 [QSA,NC,L] 
 
