body {	
			background-image: url(../../resources/images/fondo3.jpg);
			font-family: 'Fjalla One', sans-serif;
		}
		h1, h2, h3 {
			text-transform: uppercase;
		}
		.shadow-text {
			text-shadow: 5px 5px 5px #aaa;
		}
		.header {
			margin-top: 2px !important;
			width: 90%;
			height: 150px;
			background-color: #F2F2F2;
			margin-left: 5%;
			margin-right: 5%;
			-webkit-box-shadow: 10px 10px 5px 0px rgba(0,0,0,0.75);
            -moz-box-shadow: 10px 10px 5px 0px rgba(0,0,0,0.75);
            box-shadow: 10px 10px 5px 0px rgba(0,0,0,0.75);
            -webkit-border-radius: 5px;
            -moz-border-radius: 5px;
			border-radius: 5px;
		}
		.titutlo {
			width: 80%;
			height: 150px;
			float: left;
			text-align: center;
			
		}
		.logo {
			width: 20%;
			height: 150px;
			float: left;
		}
		.logo img {
			width: 110%;
			max-height: 100%
			max-height: 100%;			
		}
		.general-content {
			margin-top: 4px !important;					
			width:90%;
			/*height: 650px;*/
			margin: 0 auto;
			background-color: #F2F2F2;
			-webkit-box-shadow: 10px 10px 5px 0px rgba(0,0,0,0.75);
            -moz-box-shadow: 10px 10px 5px 0px rgba(0,0,0,0.75);
            box-shadow: 10px 10px 5px 0px rgba(0,0,0,0.75);
            -webkit-border-radius: 5px;
            -moz-border-radius: 5px;
			border-radius: 5px;
			margin-bottom: 50px;
		}
		.size-default {
			width: 90%;
   			margin: 0 auto;
		}
		.btn-languages{
			width: 26px;
    		height: 17px;
		}
		.btn-languages:hover{
			width: 26px;
    		height: 17px;
    		-webkit-box-shadow: 0px 0px 20px -1px rgba(0,0,0,0.78);
			-moz-box-shadow: 0px 0px 20px -1px rgba(0,0,0,0.78);
			box-shadow: 0px 0px 20px -1px rgba(0,0,0,0.78);
		}
		.btn-languages2{
			width: 26px;
    		height: 17px;
		}
		.btn-languages2:hover{
			width: 26px;
    		height: 17px;
    		-webkit-box-shadow: 0px 0px 20px -1px rgba(0,0,0,0.78);
			-moz-box-shadow: 0px 0px 20px -1px rgba(0,0,0,0.78);
			box-shadow: 0px 0px 20px -1px rgba(0,0,0,0.78);
		}
		.center-obj {
			text-align: center;
		}
		.margintop-30 {
			margin-top: 30px;
		}
		.paddintop-20 {
			padding-top: 20px;
		}
		.linkLan {
			padding: 3px 15px !important;
		}
		.dropdownLan {
			min-width: 57px !important;
		}